<header>
<div class="blog-name"><a href="/">phunc20</a></div>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/tags/">Tags</a></li>
  </ul>
  <img src="/assets/hamburger.svg" id="menu-icon">
</nav>
</header>
